body {
	/* margin-top: 20px; */
	font-family: sans-serif;
  /* background: #343434; */
  background: url(images/green.jpg);
  color: white;
}

nav.navigation {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 999;
}

nav.navigation a {
  text-decoration:none;
  color:#ddd;
	-webkit-text-stroke: 0.5px #aaa;
}

nav.navigation ul {
  list-style: none;
  padding: 0;
  text-align: right;

}
nav.navigation li {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  margin-right: 20px;
  display: inline-block;
  user-select: none;
  position: relative;
}

nav.navigation li:hover {
  text-decoration: underline;
}

nav.navigation li:active {
  color: #fff;
}

h1 {
  text-align: center;
  padding-top: 40px;
}
.projects {
  padding-top: 30px;
  /* background: #eee; */
  display: flex;
  align-items: center;
  position: relative;
  height: 600px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

.projects h1 {
  width:100%;
  text-align: center;
}
.projects .card{
  margin-top: 200px;
  position: relative;
  max-width: 300px;
  height: 215px;
  background: #343434;
  margin: 30px 30px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: .3s ease-in-out;
}

.projects .card:hover{
  height: 420px;
}

.projects .card .project-image{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.projects .card .project-image img{
  max-width: 100%;
  border-radius: 4px;
}

.projects .card .project-text{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #eee;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out;
}

.projects .card:hover .project-text{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: .3s;
}
