
body {
	/* margin-top: 20px; */
	font-family: sans-serif;
  /* background: #343434; */
  background: url(images/green.jpg);
  color: white;
}

nav.navigation {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 999;
}

nav.navigation a {
  text-decoration:none;
  color:#ddd;
	-webkit-text-stroke: 0.5px #aaa;
}

nav.navigation ul {
  list-style: none;
  padding: 0;
  text-align: right;

}
nav.navigation li {
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  margin-right: 20px;
  display: inline-block;
  user-select: none;
  position: relative;
}

nav.navigation li:hover {
  text-decoration: underline;
}

nav.navigation li:active {
  color: #fff;
}


.home {
  margin-top: 30px;
}

#photo {
  margin: 10px;
  max-width:180px;
}

#info-left {
  padding-left: 220px;
  float:left;
}

#info-left img {
  border: 5px solid gray;
}

#info-right {
  float: right;
  width:350px;
  padding-right: 400px;
}
#info-right a {
  text-decoration: none;
  color: white;
}
#info-right a:hover {
  text-decoration: underline;
  color: #0FF;
}


.projects{
  padding-top: 30px;
  background: #343434;
  display: flex;
  align-items: center;
  position: relative;
  height: 600px;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}
.projects h1 {
  width:100%;
  text-align: center;
}
.projects .card{
  margin-top: 200px;
  position: relative;
  max-width: 300px;
  height: 215px;
  background: white;
  margin: 30px 120px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: .3s ease-in-out;
}

.projects .card:hover{
  height: 420px;
}

.projects .card .project-image{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}

.projects .card .project-image img{
  max-width: 100%;
  border-radius: 4px;
}

.projects .card .project-text{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out;
}

.projects .card:hover .project-text{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: .3s;
}

.projects button {
  width: 110px;
  height: 35px;
  border: 1px solid #2196f3;
  float: right;
  cursor: pointer;
  margin-top: 10px;
  background: transparent;
  outline: none;
}
.projects button a {
	color: #2196f3;
	text-decoration: none;
}

.projects button a:hover {
  display: block;
  color: #2196f3;
  text-decoration: underline;
}


.aboutme {
	background: #eee;
	color:#343434;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 20px;
}

.skill * {
	box-sizing: border-box;
}

.skill ul,
.skill li {
	margin: 0;
	padding: 0;
}

.skill {
	display: flex;
	align-items: center;
	height: 400px;
	justify-content: center;
	text-align: left;
}

.skill ul {
	width: 500px;
}

.skill li {
	list-style: none;
	color: #343434;
	font-size: 18px;
	margin: 48px 0;
	position: relative;
}

.skill li::before,
.skill li::after {
	content: "";
	display: block;
	height: 16px;
	width: 100%;
	background-color: #eee;
	position: absolute;
	bottom: -28px;
	border-radius: 6px;
}

.skill li::before {
	box-shadow: 0 0 6px rgba(20,20,20,0.2);
}

.skill li::after {
	background-color: #999;
	animation-duration: 1.2s;
	animation-fill-mode: forwards;
	animation-timing-function: ease-in-out;
}
.js::after {
	animation-name: js;
}

.html5::after {
	animation-name: html5;
}

.css3::after {
	animation-name: css3;
}

.python::after {
	animation-name: python;
}

.c::after {
	animation-name: c;
}

@keyframes js {
	from {
		width: 0;
	}
	to {
		width: 40%;
	}
}

@keyframes html5 {
	from {
		width: 0;
	}
	to {
		width: 60%;
	}
}

@keyframes css3 {
	from {
		width: 0;
	}
	to {
		width: 60%;
	}
}

@keyframes python {
	from {
		width: 0;
	}
	to {
		width: 75%;
	}
}

@keyframes c {
	from {
		width: 0;
	}
	to {
		width: 60%;
	}
}


.contactme {
  /* background: #343434; */
  background: url(images/green.jpg);
  color:white;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
}

.contactme a {
  color: white;
  text-decoration: none;
}

.contactme a:hover {
  color: #0FF;
}
